<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
	<title>Todo List</title>
</head>

<body>
	{% block content %}{% endblock %}
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	$('#submit_button').click(function() {
		let email = $('#user_form input[type=text]')[0].value
		let password = $('#user_form input[type=password]')[0].value

        $.post({
        	url: '/register',
        	data: {email: email, password: password},
            success: function (response) {
                $('#response').html('User registered succesfully, redirecting to login page. If not, click <a id="login_url" href="/login">Here</a>');
                setTimeout(function(){
                    $('#login_url').get(0).click();
                }, 2000);
            }
        })
	});

    $('#login_button').click(function() {
        let email = $('#login_form input[type=text]')[0].value
        let password = $('#login_form input[type=password]')[0].value

        $.post({
            url: '/login',
            data: {email: email, password: password},
            success: function (response) {
                $('#response').html('User logged in succesfully, redirecting to list page. If not, click <a id="list_url" href="/list">Here</a>');
                setTimeout(function(){
                    $('#list_url').get(0).click();
                }, 2000);
            }
        })
    });

    $('#add_button').click(function() {
        let text = $('#add_form input[type=text]')[0].value

        $.post({
            url: '/add',
            data: {text: text},
            success: function (response) {
            }
        })
    });

</script>

</html>