{% extends 'base.html' %}

{% block content %}

<h2>Showing items for user {{ user }}</h2> <a href="/logout">logout</a>

<form id="add_form">
	<p>Item:</p>
    <input type="text" name="item">
	<br>
    <input id="add_button" type="button" value="Add">
</form>

<table border = 1>
	{% for item in items %}
	<tr id="{{ item.id }}">
		<td>
			{% if item.completed %}
		   		<input type="checkbox" checked>
			{% else %}
		   		<input type="checkbox">
			{% endif %}
		</td>

		<td> {{ item.name }} </td>

		{% if item.completed %}
	   		<td>completed</td>
		{% else %}
			<td></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>


{% endblock %}