{% extends 'base.html' %}

{% block content %}

<div class="account-wall">

	<div class="row alert alert-info">
		<h4 class="col-sm-8">Showing items for user {{ user }}</h4>	
		<div class="pull-right">
			<div class="col-sm-4"><a class="btn btn-primary" href="/logout">logout</a></div>
		</div>
	</div>


<div class="row" id="add_form">
	<div class="col-sm-5">
	    <input type="text" name="item">
	</div>
	<div class="col-sm-3">
    	<input type="button" id="add_button" classtype="button" value="Add">
	</div>	
</div>

<h3>&nbsp&nbspList of tasks</h3>

<table id="list-items" class="table">
	{% for item in items %}
	<tr id="{{ item.id }}">
		<td class="checkbox-small">
			{% if item.completed %}
		   		<input type="checkbox" checked>
			{% else %}
		   		<input type="checkbox">
			{% endif %}
		</td>

		<td> {{ item.name }} </td>

		{% if item.completed %}
	   		<td>completed</td>
		{% else %}
			<td></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
	

</div>



{% endblock %}